/*
 * style.css
 * # sont déstiné au id
 * . sont destiné au class
 *
*/

/*********************
 * @auteur Ryclos 
 * @auteur 
 * @auteur
**********************/

body {
    background-color: #2e2e2e;
    color : white;
}
/*
p {
    text-align: justify;
}
*/
.titre {
    text-align: center;
    color : #ffd000;
}

.logo {
    float: left;
}

.paragraphe {
    text-align: justify;
    font-size: 25px;

}

a[title*="Cliquez ici"] {/*Faire apparaitre le lien en jaune et une info bulle "cliquez ici"*/
    color : yellow;
}

#signature {
    text-align: right;
}